.header {
    height: 60px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    background-color: #1B4242;
    color: #EEEEEE;
    align-items: center;
}

.nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly
}